<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.api.common.persistence.dao.MtimePromoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.api.seckill.bean.BaseBean">
        <id column="cinema_address" property="cinemaAddress" />
        <result column="cinema_id" property="cinemaId" />
        <result column="cinema_name" property="cinemaName" />
        <result column="description" property="description" />
        <result column="end_time" property="endTime" />
        <result column="img_address" property="imgAddress" />
        <result column="price" property="price" />
        <result column="start_time" property="startTime" />
        <result column="status" property="status" />
        <result column="stock" property="stock" />
        <result column="uuid" property="uuid" />
    </resultMap>


    <select id="selectAllPromo" resultMap="BaseResultMap">
        select
        mct.cinema_address,
        mct.UUID as cid,
        mct.cinema_name,
        mct.img_address,
        mp.description,
        mp.end_time,
        mp.price,
        mp.start_time,
        mp.status,
        mp.uuid as pid,
        ms.stock
        from mtime_cinema_t mct left join mtime_promo mp on mct.cid = mp.pid
        left join mtime_promo_stock on mp.pid = ms.promo_id
        where #{promoDate} between mp.start_time and mp.end_time
    </select>
</mapper>
