<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.api.common.persistence.dao.MtimePromoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.api.common.persistence.model.MtimePromo">
        <id column="uuid" property="uuid" />
        <result column="cinema_id" property="cinemaId" />
        <result column="price" property="price" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="status" property="status" />
        <result column="description" property="description" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        uuid, cinema_id, price, start_time, end_time, `status`, `description`
    </sql>
    <select id="selectAllPromo" resultMap="BaseResultMap">
        select
        mct.cinema_address,
        mct.UUID as cid,
        mct.cinema_name,
        mct.img_address,
        mp.description,
        mp.end_time,
        mp.price,
        mp.start_time,
        mp.status,
        mp.uuid as pid,
        ms.stock
        from mtime_cinema_t mct left join mtime_promo mp on mct.cid = mp.pid
        left join mtime_promo_stock on mp.pid = ms.promo_id
        where 1=1
    </select>
</mapper>
